.container{
	margin: 0 auto;
}
.c_h2{
	text-align: center;
	background-color: #626262;
    font-size: 40px;
    padding: 15px 0;
    color: #ffffff;
    text-transform: uppercase;
}
.a_h2{
	text-align: center;
	background-color:brown;
    font-size: 40px;
    padding: 15px 0;
    color: #ffffff;
    text-transform: uppercase;
}
.c_button{
	padding: 10px;
	text-transform: uppercase;
	width: 20%;
	height: 50px;

}